.contenido{
    margin: 5vh 10vh;
    margin-bottom: 10px;
    padding-bottom: 40px;
    /* background-color: blueviolet; */
}

.main-h1{
    margin-bottom: 40px;
    color: rgb(10,123,153);
}

.main-ul{
    margin-left: 5vh;
    margin-top: 1vh;
    font-size: 20px;
}

main p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}


.contenedor-acordeon{
    width: 80%;

}

.acordeon{
    background-color: transparent;
}
.acordeon label{
    display: block;
    background-color: rgb(207, 29, 36);
    font-size: 20px;
    color: white;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.acordeon label:hover{
    background-color: rgb(122, 17, 21);
}

.acordeon .contenido-acordeon{
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    max-height: 0px;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;
    padding-left: 2.5%;
    width: 80%;
    
}

.btn-acordeon{
    display: none;
}

.contenido-acordeon b{
    color: rgb(10,123,153);
}
