main {
    padding: 1% 0% 2% 0%;
}

body{
    background-color: #0d4567;
}

main h2{
    text-align: center;
    font-size: 35px;
    color: white;
}

main h3{
    text-align: center;
    font-size: x-large;
    color: rgb(10,123,153);
}

main p{
    text-align: center;
    font-size: larger;
}

/*Estilo para aplicar al bloque completo de Servicios*/
.Estilo-Principal-Servicios{    
    margin: auto;    
}

/*Estilo que se le aplica a cada servicio por aparte*/
.Estilo-Servicios{    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.Estilo-Servicios nav{
    background-color: rgb(231, 230, 220);
    /* border: 2px solid black;        */
    /* width: 40em;  */
    width: 80%;
    margin: auto;
    transition: all 0.3s;
}

.Estilo-Servicios img{
    width: 310px;
}

.Estilo-Servicios div{
    text-align: center;
}

.Estilo-Servicios nav:hover{
    box-shadow: 8px 8px 10px rgb(255, 234, 44);
    transition-delay: 1ms;    
    transform: scale(1.1);
}