main {
    background-color: rgb(219, 204, 204);
}

.contenedor-Principal {
    display: flex;
}

.contenedor-listaCont {
    background-color: rgb(211, 184, 184);
    width: 22%;            
    padding: 2em;
}

.contenedor-listaCont h2 {
 text-align: center;
 margin-top: 45px; 
 color: rgb(14, 119, 138);
}

#ListaCont li {
    padding-bottom: 1em;
}

.contenedor-listaCont li a {
    text-decoration: none;
    color: black;
}

.contenedor-listaCont li a:hover {
    text-decoration: underline;
    color: rgb(0, 88, 112);
}

.contenedor-blog {
    border-radius: 10px;
    width: 100%;
    margin: 2em auto;
    padding: 2em;
}

.contenedor-NoticiasDestacadas {
    background-color: rgb(211, 184, 184);
    width: 30%;
    padding: 1em;
}

.contenedor-NoticiasDestacadas nav{
    border: 2px solid black;
    background-color: rgb(244, 242, 231);    
    margin-bottom: 1em;
}

.contenedor-NoticiasDestacadas h2{    
    padding-bottom: 1em;    
    color: rgb(14, 119, 138);
}

.contenedor-NoticiasDestacadas h3{
    text-align: center;
    padding-bottom: 10px;
}

.contenedor-NoticiasDestacadas img{
    width: 100%;    
    padding-bottom: 5px;
}

.contenedor-NoticiasDestacadas a{
    text-decoration: none;
    color: black;
}

.contenedor-NoticiasDestacadas a:hover{
    text-decoration: underline;
    color: rgb(10, 123, 153);
}

.Encabezado-noticia {
    grid-area: Encabezado-noticia;
}

.Encabezado-noticia h1 {
    color: rgb(10, 123, 153);
    font-size: 2.5em;
    text-align: center;
}

.cuerpo-noticia {
    margin-top: 2em;
}

.contenedor .cuerpo-noticia p {
    font-size: 1.2em;    
}

.cuerpo-noticia p{
    text-align: justify;
}

.cuerpo-noticia b {
    color: rgb(10, 123, 153);
}

.cuerpo-noticia div {
    text-align: center;
}

.cuerpo-noticia h2 {
    text-align: center;
    color: rgb(10, 123, 153);
    font-size: xx-large;
}

.cuerpo-noticia h3 {
    text-align: center;
    color: rgb(10, 123, 153);
    font-size: x-large;
}

.content-imagen {
    display: flex;
    justify-content: center;
}

.ilustrativa1 {
    width: 80%;
    height: auto;
    margin-top: 20px;
}

.ilustrativa2 {
    margin: 30px auto;
}

.ilustrativa3 {
    margin: 30px auto;
}

.ilustrativa4 {
    margin: 30px auto;
    width: 80%;
    height: auto;
}