main {
    padding: 1% 0% 2% 0%;
}

main h2{
    text-align: center;
    font-size: 35px;
    color: rgb(10,123,153);
}

main h3{
    text-align: center;
    font-size: x-large;
    color: rgb(10,123,153);
}

main p{
    text-align: center;
    font-size: larger;
}

/*Estilo para aplicar al bloque completo de Servicios*/
.Estilo-Principal-Servicios{
    background-color: orangered;
    margin: auto;
    width: 90rem;        
}

/*Estilo que se le aplica a cada servicio por aparte*/
.Estilo-Servicios{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(4,1fr);    
    gap: 1rem;    

}

.Estilo-Servicios nav{
    background-color: rgb(231, 230, 220);
    border: 2px solid black;    
    box-shadow: 6px 7px 12px rgb(255, 0, 234);
}

.Estilo-Servicios img{
    width: 310px;
}

.Estilo-Servicios div{
    text-align: center;
}