/*Estilo default para el tamaño de los textos*/
main {
    padding: 1% 0% 2% 0%;    
}

main h2 {
    text-align: center;
    font-size: xx-large;
    padding-top: 35px;
}

main p {
    text-align: justify;
    font-size: 21px;
    padding: 3% 3% 0%;
}

.Estilo-nav{    
    background-color: rgb(224, 223, 212);
    border: 10px solid black;
    border-style: double;
    width: 72em;
    margin: auto;    
}

/*Estilo que se ke aolica al articulo quiens somo*/
.Estilo-QuienesSomos {
    display: flex;        
    gap: 1rem;
}

/*Estilo que se le aplica a los articulos Mision y Vision*/
/* .Estilo-MisionYVision {
} */

/*Estilo que se le aplica a la articulo de Valores*/
.Estilo-Valores {
    background-color: rgb(218, 14, 21);
    border: 10px solid black;
    border-style: double;
    width: 72rem;
    margin: auto;
    text-align: center;    
}

/*Estilo que se le aplica a la tabla de valores*/
table {
    background-color: rgb(143, 215, 243);
    text-align: left;
    margin: auto;
    width: 60rem;
}

td {
    padding: 1%;
    word-wrap: break-word;    
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

table tbody tr:nth-child(even) {
    background-color: rgb(87, 187, 226);
}

table,
td,
th {
    border: 2px solid black;
    border-collapse: collapse;
}