main{
    background-color: rgb(219, 204, 204);    
}

.contenedor-Principal{
    display: flex;    
}

.contenedor-listaCont{
    background-color: rgb(211, 184, 184);
    /* background-color: rgb(212, 191, 191); */
    width: 22%;
    height: 25em;
    margin-top: 78px;
    padding: 2em;    
}

.contenedor-blog{    
    border-radius: 10px;
    width: 100%;
    margin: 2em auto;
    padding: 2em;    
}

.contenedor-NoticiasDestacadas{
    background-color: aquamarine;
    width: 30%;
    padding: 2em;    
}

.Encabezado-noticia{
    grid-area: Encabezado-noticia;
}

.Encabezado-noticia h1{
    color: rgb(10,123,153);
    font-size: 2.5em;
    text-align: center;
}


.cuerpo-noticia{
    margin-top: 2em;
    /* font-size: 1.1em; */

}
.contenedor .cuerpo-noticia p{
    font-size: 1.2em;
}

.cuerpo-noticia b{
    color: rgb(10,123,153);
}

.content-imagen{
    display: flex;
    justify-content: center;
}

.ilustrativa1{
        width: 80%;
        height: auto;
    margin-top: 20px;    
}

.ilustrativa2{
    margin: 30px auto;
    }

.ilustrativa3{
    margin: 30px auto;    
}
