/*Estilo que aplica a toda la página y que los bloques esten pegados a los bordes*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*Estilo estándar que se le aplicará a los h's y p's*/
h1, h2 {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;    
}

p{
    font-family: "Gelasio", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*Color de fondo que se usará para toda las páginas*/
body{
    background-color: rgb(244, 242, 231);
}
/*Color de header que se usará para toda las páginas*/
header{
    background-color: rgb(207, 29, 36);    
}
/*Configuración de estilo estándar para la barra de navegación*/
.BarraDeNavegacion{
    display: flex;    
}

.BarraDeNavegacion ul{
    list-style-type: none;    
    padding-top: 40px;    
}

.BarraDeNavegacion li a{
    color: white;    
    text-shadow: 2px 2px black;
    text-decoration: none;
    font-size: x-large;   
}

.BarraDeNavegacion li{
    display: inline-block;
    padding: 0px 20px;
}

.BarraDeNavegacion nav{    
    padding-left: 10%;
}

.BarraDeNavegacion a:hover{
    color: rgb(0, 162, 255);
}
.Footer li a:hover {
    color: rgb(235, 100, 100);
}

/*Configuración de estilo estándar para el footer*/
.Footer{
    background-color: rgb(10,123,153);
    display: flex;       
}

.Footer ul{
    list-style: none;
}

.Footer li a{
    color: white;    
    text-shadow: 2px 2px black;   
    text-decoration: none; 
    display: block;
    padding: 0px 0px 10px;
}

.Footer h3{
    color: white;    
}

.Footer p{
    color: white;    
    text-shadow: 2px 2px black;
}

.Footer nav{
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 3%;    
}

/*Estilo de los iconos para las redes sociales*/
.icon-redes{
    height: 28px;
    width: 28px;
}

/*Estilo para los derechos de autor*/
#derechos{
    color: #f4f2e7;
    position: relative;
    bottom: 0px;
    background-color: rgb(10,123,153);;
    text-align: center;
    padding-top: 20px;
}

#derechos a{
    text-decoration: none;
    color: #f4f2e7;
    position: relative;
    bottom: 0px;
}

